/* APPROACH I : downloaded Font */
/* @font-face {
    font-family: "share tech";
    src: url("/fonts/ShareTech-Regular.ttf");
} */

/* APPROACH II : Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

body {
    background-color: #f9f9f9;
    color: #3f3c47;
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    height:max-content
}

.g-center-div {
    background-color: white;
    filter: drop-shadow(0px 6px 11px #b6b6b6);
    margin: auto;
    /* width: auto; */
    height: auto;
    padding: 24px;
    margin-bottom: 20px;
}

section {
    background-color: #8d8d8d; 
    color: white; 
    padding: 24px; 
    text-align: left;
}

.g-heading {
    font-family: "share tech";
    font-size: 40px;
    font-weight:bold;
}

.g-sub-heading {
    font-size: 18px;
    letter-spacing: 8px;
    font-weight: 600; 
    color: #6f7276;
}

.style {
    color: #f9f9f9;
    margin-top: 50px; 
    margin-bottom: 24px;
    margin-left: 24px;
}

a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    border: solid 1px #ffffff;
    padding: 16px;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
}

.button-container {
    text-align: left;
    padding: 20px;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #ffffff;
    background-color: #6f7276;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .button:hover {
    background-color: #ffffff;
    color: #000000;
  }
  
/* Container Portfolio Pix */
  .g-container {
    display: grid;
    grid-template-columns: auto auto; 
    grid-gap: 20px; 
    padding: 20px;

  }

  .p-item {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    grid-column-start: 2;
    grid-row-end: 2;
    /*place-items: right; */
  }

/* For WebApp and Others page */
  .g-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
   /* place-items: right; */
  }
  
  .g-grid-container > div {
    text-align: left;
    padding: 20px;
    font-size: 20px;
  }
  
  .itemTitle {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 30px;
  }
